*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #fff;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start; /*this is where the magic happens*/

}
.container{
    scroll-snap-type: y mandatory; /*the scroll snaps to the start of the next section*/
   /* scroll-snap-type: proximity; /** this is also another way to snap the scroll just when its near the section*/
    overflow-y: scroll;
    height: 100vh;

}
.one {
    background-color: rgb(34, 202, 34);
}
.two {
    background-color: rgb(211, 79, 79);
}
.three {
    background-color: rgb(67, 91,175);
}
.four{
    background-color: lightsalmon;
}